Invoice-Processing-Automation.json
{
  "name": "Invoice-Processing-Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5f076a78-5317-4ead-9925-6217a4f474e9",
        "options": {
          "responseData": "The Invoice Data Received"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        0
      ],
      "id": "ef652b18-35b6-4381-a3cc-9b4833ceabc6",
      "name": "Webhook",
      "webhookId": "5f076a78-5317-4ead-9925-6217a4f474e9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the invoice text:  {{ $json.body.invoiceText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a powerful invoice extraction agent that extracts desired fields from the provided invoice text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        0
      ],
      "id": "a2f15a26-4f7b-46d6-831c-4894467884ca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "z-ai/glm-5.2",
          "mode": "list",
          "cachedResultName": "z-ai/glm-5.2"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        208
      ],
      "id": "ba5cf9f4-8604-4b29-a6cf-aaf8b5251740",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wpETM1C6wVW19GdE",
          "name": "Nvidia-API-Key"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"vendor_name\": \"NovaTech Solutions Pvt. Ltd.\",\n  \"invoice_date\": \"2026-07-01\",\n  \"due_date\": \"2026-07-30\",\n  \"total_amount\": 4750.00,\n  \"description\": \"Cloud infrastructure setup and maintenance services for June 2026\",\n  \"address\": \"15th Floor, Cyber Towers, HITEC City, Hyderabad, Telangana 500081, India\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        144,
        208
      ],
      "id": "4d17d677-441c-465b-a19c-745c19d80240",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "z-ai/glm-5.2",
          "mode": "list",
          "cachedResultName": "z-ai/glm-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        416
      ],
      "id": "5b9584c0-e8bd-4b26-a5a6-4200d89314fc",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "wpETM1C6wVW19GdE",
          "name": "Nvidia-API-Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kyjGewM-FPwxv4Z4QJ3MZxwyDZ38Oof8c8NZFtzftvk",
          "mode": "list",
          "cachedResultName": "CRM for n8n Course",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vendor Name": "={{ $json.output.vendor_name }}",
            "Invoice Date": "={{ $json.output.invoice_date }}",
            "Total Amount": "={{ $json.output.total_amount }}",
            "Address": "={{ $json.output.address }}",
            "Due Date": "={{ $json.output.due_date }}",
            "Description": "={{ $json.output.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        0
      ],
      "id": "7bfa0ebc-3ea5-41d6-a0ef-a033874998ca",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ITdvZNItEHgcuX9t",
          "name": "Arman-Google-Auth-API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4e1382b9-a1db-4ef8-91af-aa36926864ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0960bcb1bef5ea47dcb3422f046de9dbed156503841bf3141c3d26b77b05d264"
  },
  "nodeGroups": [],
  "id": "YukYiaiC6eiGy6yM",
  "tags": []
}
